<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!--
            <ion-menu-button icon="">
                <ion-icon class="zmdi zmdi-sort-amount-desc"></ion-icon>
            </ion-menu-button>
-->
            <ion-buttons slot="start" mode="md">
                <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="header_banner">
        <div class="text_box">
            <h2 class="d-flex animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">{{'notification' | translate}}</h2>
        </div>
    </div>
</ion-header>


<ion-content>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Grilled Chicken Salad</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">11m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Malabar Fish Briyani</h2>
                    <h3 class="d-flex">
                        <span class="text"> Add Grocery item</span>
                        <span class="end">19m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Chicken 65</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">45m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tandoori Lamp Chops</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">2h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Brown Butter Blondish</h2>
                    <h3 class="d-flex">
                        <span class="text">Add Grocery items</span>
                        <span class="end">6h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Grilled Chicken Salad</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">11m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Malabar Fish Briyani</h2>
                    <h3 class="d-flex">
                        <span class="text"> Add Grocery item</span>
                        <span class="end">19m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Chicken 65</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">45m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tandoori Lamp Chops</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">2h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Brown Butter Blondish</h2>
                    <h3 class="d-flex">
                        <span class="text">Add Grocery items</span>
                        <span class="end">6h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Grilled Chicken Salad</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">11m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Malabar Fish Briyani</h2>
                    <h3 class="d-flex">
                        <span class="text"> Add Grocery item</span>
                        <span class="end">19m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Chicken 65</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">45m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tandoori Lamp Chops</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">2h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Brown Butter Blondish</h2>
                    <h3 class="d-flex">
                        <span class="text">Add Grocery items</span>
                        <span class="end">6h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Grilled Chicken Salad</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">11m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Malabar Fish Briyani</h2>
                    <h3 class="d-flex">
                        <span class="text"> Add Grocery item</span>
                        <span class="end">19m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Chicken 65</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">45m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tandoori Lamp Chops</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">2h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Brown Butter Blondish</h2>
                    <h3 class="d-flex">
                        <span class="text">Add Grocery items</span>
                        <span class="end">6h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Grilled Chicken Salad</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">11m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Malabar Fish Briyani</h2>
                    <h3 class="d-flex">
                        <span class="text"> Add Grocery item</span>
                        <span class="end">19m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Chicken 65</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">45m ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Tandoori Lamp Chops</h2>
                    <h3 class="d-flex">
                        <span class="text">New recipe added</span>
                        <span class="end">2h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/Grocery/Grocery_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h2>Brown Butter Blondish</h2>
                    <h3 class="d-flex">
                        <span class="text">Add Grocery items</span>
                        <span class="end">6h ago</span>
                    </h3>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>