.bg-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 40px);
    height: calc(100% - 50px);
    margin: 0 auto;
    margin-top: 50px;

    &::after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 152px;
        margin: 0 auto;
        width: calc(100% + 80px);
        height: 63%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(148, 187, 233, 0) 100%);

    }
}

ion-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px 30px 20px;
    background: var(--bg-white);

    h2 {
        margin: 0;
        color: var(--text-dark);
        font-weight: 700;
        font-size: 1.35rem;
        padding-bottom: 10px;
    }

    p {
        margin: 0;
        color: var(--text-dark);
        font-size: .84rem;
        line-height: 22px;
        padding-bottom: 20px;
    }

    .button.btn {
        text-transform: none !important;
        margin-bottom: 10px;

        .text {
            width: calc(100% - 80px);
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
            padding: 4px 0;
        }

        img,
        ion-icon {
            position: absolute;
            left: 18px;
            font-size: 1.2rem;
        }

        img {
            width: 16px;
        }

        &.button-outline {
            color: var(--text-dark);
            --border-color: var(--border-color);
            --border-width: 1px;
        }
    }
}