<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="header_banner">
        <div class="text_box">
            <h2 class="d-flex animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">{{'hi_welcome_dear' | translate}}</h2>
            <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.35s">
                {{'we_cant_wait_to_see_what_you_can' | translate}}<br>{{'create_today_good_luck' | translate}}!
            </h3>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="form">
        <ion-list lines="none">
            <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
                <ion-label position="floating">{{'full_name' | translate}}</ion-label>
                <ion-input mode="md" type="name" value="Samantha Smith"></ion-input>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.45s">
                <ion-label position="floating">{{'email_address' | translate}}</ion-label>
                <ion-input mode="md" type="email" value="samsmith123@mail.com"></ion-input>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.4s">
                <ion-label position="floating">{{'phone_number' | translate}}</ion-label>
                <ion-input mode="md" type="tel" value="+1 987 654 3210"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" class="btn animate__animated animate__fadeInUp wow" data-wow-duration="0.5s" expand="round" (click)="verification()">{{'continue' | translate}}</ion-button>
</ion-footer>