<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button icon="">
                <ion-icon class="zmdi zmdi-sort-amount-desc"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="header_banner">
        <div class="text_box">
            <h2 class="d-flex animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
                About the Chef
            </h2>
            <h3 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.35s">
                Toeknee Tee
            </h3>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="container">
        <p class="animate__animated animate__fadeInUp">
            "Ella's Kitchen" is inspired by the eats of International Pop Star Toeknee Tee(US). Named after his grandma
            Ella, whom he spent many summers with in Nashville, TN, this collection of delectible recipes spans numerous
            Continents. Toeknee Tee grew up in the deep south before moving abroad to locations such as Australia and
            Europe, where his taste buds evolved from their southern flavor base. 10 years without a Walmart or Publix
            is likely
            to change anyones pallete, so taste the world with his latest Recipes.


    </div>
</ion-content>