<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title-inner d-flex">
                <span class="end">{{'clear_all' | translate}}</span>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="header_banner">
        <div class="text_box">
            <h2 class="d-flex animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
                {{'filter' | translate}}
            </h2>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-card class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
            <h2>
                {{'cuisine_type' | translate}}
            </h2>
            <ion-radio-group>
                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Indian</ion-label>
                    <ion-radio slot="start" value="Indian"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Italian</ion-label>
                    <ion-radio slot="start" value="Italian"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Vegetarian</ion-label>
                    <ion-radio slot="start" value="Vegetarian"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Mexican</ion-label>
                    <ion-radio slot="start" value="Mexican"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Turkish</ion-label>
                    <ion-radio slot="start" value="Turkish"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-card>

        <ion-card class="animate__animated animate__fadeInUp wow" data-wow-duration="0.35s">
            <h2>
                {{'meal_type' | translate}}
            </h2>
            <ion-radio-group>
                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Breakfast</ion-label>
                    <ion-radio slot="start" value="Breakfast"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Lunch</ion-label>
                    <ion-radio slot="start" value="Lunch"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Dinner</ion-label>
                    <ion-radio slot="start" value="Dinner"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Salada</ion-label>
                    <ion-radio slot="start" value="Salada"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Desserts</ion-label>
                    <ion-radio slot="start" value="Desserts"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Soups</ion-label>
                    <ion-radio slot="start" value="Soups"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-card>

        <!-- <ion-card class="animate__animated animate__fadeInUp wow" data-wow-duration="0.4s">
            <h2>
                {{'suggested_diets' | translate}}
            </h2>
            <ion-radio-group>
                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Vegetarian</ion-label>
                    <ion-radio slot="start" value="vegetarian"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Low fat</ion-label>
                    <ion-radio slot="start" value="Low_fat"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Low carb</ion-label>
                    <ion-radio slot="start" value="Low_Carb"></ion-radio>
                </ion-item>

                <ion-item class="animate__animated animate__zoomIn">
                    <ion-label>Gulten free</ion-label>
                    <ion-radio slot="start" value="Gulten_free"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </ion-card> -->


        <ion-card class="cookTime animate__animated animate__fadeInUp wow" data-wow-duration="0.45s">
            <h2>
                {{'cook_time' | translate}}
            </h2>
            <ion-item>
                <div class="item-inner">
                    <h3> {{'up_to' | translate}} {{currentValue}} {{'minuts' | translate}}</h3>
                    <ion-range (ionChange)="setValue($event)" color="primary" dual-knobs="false" max="60" min="0"
                        pin="false" snaps="true" step="0" ticks="false" mode="md" [value]="currentValue">
                    </ion-range>
                </div>
            </ion-item>
        </ion-card>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" class="btn animate__animated animate__fadeInUp wow" data-wow-duration="0.5s" expand="round"
        (click)="save()">{{'continue' | translate}}</ion-button>
</ion-footer>