.header_banner .text_box h2{
    font-size: 1.4rem;
}

.form {
    padding-top: 15px;

    ion-item {
        border-bottom: none !important;
        margin-bottom: 10px;

        ion-input {
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 8px !important;
            margin: 0px 6px;
        }
    }

    h4 {
        margin: 0;
        color: var(--text-dark);
        font-size: .8rem;

        span {
            color: var(--primary);
            min-width: fit-content;
        }

    }
}

ion-footer {
    padding: 0 20px 20px 20px;
}