<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button icon="">
                <ion-icon class="zmdi zmdi-sort-amount-desc"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>{{'profile' | translate}}</ion-title>
    </ion-toolbar>

    <!-- <div class="profile_box d-flex">
        <div class="img_box center_img">
            <img src="assets/images/profile.png" class="crop_img">
        </div>
        
        <h2 class="ion-text-center">{{'upload_img' | translate}}</h2>
    </div> -->
</ion-header>

<ion-content fullscreen>
    <div class="form">
        <ion-list lines="none">
            <h2 class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">{{'profile_information' |
                translate}}</h2>
            <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.3s">
                <ion-label position="floating">{{'full_name' | translate}}</ion-label>
                <ion-input mode="md" type="name" value="Samantha Smith"></ion-input>
            </ion-item>
            <!-- <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.45s">
                <ion-label position="floating">{{'email_address' | translate}}</ion-label>
                <ion-input mode="md" type="email" value="samsmith123@mail.com" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="animate__animated animate__fadeInUp wow" data-wow-duration="0.4s">
                <ion-label position="floating">{{'phone_number' | translate}}</ion-label>
                <ion-input mode="md" type="tel" value="+1 987 654 3210" readonly></ion-input>
            </ion-item> -->
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" class="btn animate__animated animate__fadeInUp wow" data-wow-duration="0.5s"
        expand="round">{{'update' | translate}}</ion-button>
</ion-footer>