ion-header {
    position: absolute;
    z-index: 1;

    ion-toolbar ion-title {
        font-size: 1.2rem;
        font-weight: 600;
        transition: all .3s;

        span {
            transform: scale(0.0);
            transition: all .3s;
        }

        ion-icon {
            font-size: 1.5rem;
            min-width: 30px;
        }
    }

    .header_banner .text_box {
        transition: all .3s;
        max-height: unset;

        h2 {
            padding-bottom: 30px;
        }
    }



    &.active {
        ion-toolbar ion-title {
            span {
                transform: scale(1);
            }
        }

        .header_banner {
            .text_box {
                transform: scale(0.0);
                max-height: 0;
            }
        }
    }
}

.search-results {
    position: absolute;
    z-index: 1001;
    width: 85%;
}

.search_box {
    width: calc(100% - 0px);
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 47px;
    // position: relative;
    background: var(--bg-color);
    border-radius: 45px;
    padding: 0 20px;

    ion-icon {
        color: var(--text-light);
        font-size: 1.35rem;
        min-width: 26px;
        height: 30px;
        line-height: 30px;
        z-index: 99;
        padding: 0 2px;
    }

    h4 {
        margin: 0;
        color: var(--text-light);
        font-size: .9rem;
        font-weight: 400;
        width: 100%;
    }

    ion-searchbar {
        --background: var(--transparent) !important;
        --color: var(--text-black);
        --placeholder-opacity: 1;
        --placeholder-color: var(--text-light);
        --placeholder-font-weight: 400 !important;
        --box-shadow: none !important;
        --icon-color: none !important;
    }
}

.searchbar-input {
    padding-left: 9px !important;
}

.type_of_food {
    padding-top: 20px;
    padding-bottom: 28px;


    h2 {
        padding: 0 20px;
        padding-bottom: 20px;
        margin: 0;
        color: var(--text-dark);
        font-size: 1.1rem;
        font-weight: 600;
    }

    ion-segment {
        border: none !important;
        background: var(--none) !important;
        border-radius: 0px;
        margin: 0;
        position: relative;

        ion-segment-button {
            background: none !important;
            text-transform: uppercase !important;
            --background-checked: var(--transparent) !important;
            --background-focused: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            --indicator-color: var(--transparent) !important;
            --indicator-box-shadow: none !important;
            --ripple-color: var(--transparent) !important;
            --color: var(--text-light) !important;
            --color-checked: var(--text-light) !important;
            --color-hover: var(--text-light) !important;
            --background-hover: var(--transparent) !important;
            position: relative;
            width: 100%;
            border: 1px solid var(--border-color);
            min-width: 86px;
            margin: 0 5px;
            border-radius: 10px;
            padding: 7px 0;
            overflow: hidden;
            transition: all .5s;

            .img_box {
                min-width: 85px;
                display: flex;
                align-items: center;
                max-width: 100%;
                //                margin: 0 auto;


                img {
                    display: block;
                    height: 85px;
                    width: auto;
                    margin: auto;
                }
            }

            h3 {
                margin: 0;
                color: var(--text-dark);
                font-size: 0.8rem;
                text-transform: none;
                letter-spacing: 0;
                text-overflow: ellipsis;
                white-space: normal;
                overflow: hidden;
                position: relative;
                top: -11px;
            }


            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                width: 0;
                height: 0;
                background: var(--primary);
                margin: auto;
                transition: all .3s;
                opacity: .2;
                border-radius: 10px;
            }


            &.segment-button-checked {
                border-color: var(--primary) !important;
                border: none;

                &::after {
                    width: 100%;
                    height: 100%;
                }
            }

            &:first-child {
                margin-left: 20px;
            }

            &:last-child {
                margin-right: 20px;
            }
        }

    }
}

ion-content.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    /* Fill the remaining viewport height */
    overflow: auto;
    /* Enable scrolling if content overflows */
}

.item_list {
    width: calc(100% - 40px);
    margin: 0 auto;


    h2 {
        padding-bottom: 10px;
        margin: 0;
        color: var(--text-dark);
        font-size: 1.1rem;
        font-weight: 600;
    }

    ion-row {
        margin: 0 -7px;

        ion-col {
            padding: 7px;

            .item {
                .img_box {
                    width: 100%;
                    height: 170px;
                    overflow: hidden;
                    border-radius: 13px;
                    margin-bottom: 12px;
                }

                h3 {
                    margin: 0;
                    color: var(--text-dark);
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: .95rem;
                    text-overflow: ellipsis;
                    padding-bottom: 4px;
                }

                h4 {
                    margin: 0;
                    color: var(--text-light);
                    font-size: 0.8rem;
                    letter-spacing: 0.4px;
                    padding: 0;
                    font-weight: 400;
                    overflow: hidden;
                }
            }
        }
    }

}

.banner {

    width: 92vw;
    height: calc(92vw / 6);
    /* position: relative; */
    overflow: hidden;
    // background-color: blue;
    /* border-radius: 10px; */
    /* margin-left: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;

}



ion-footer {
    background: var(--bg-color);
    z-index: 999;
    bottom: 0;
    border-radius: 30px 30px 0 0;

    .developed_by {
        padding: 10px 20px 6px 20px;

        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: .9rem;
            letter-spacing: 0;
            min-width: fit-content;
        }

        .img_box {
            width: fit-content;

            img {
                max-width: 140px;
                display: block;

                &:nth-child(even) {
                    display: none;
                }
            }
        }
    }
}